@use "../../modules/index.scss" as mxs;

.headerTop {
    @include mxs.rowFlex(space-between, center);

    a {
        text-decoration: none;
    }

    .headerTopLeft {
        @include mxs.rowFlex(start, center, 8px);

        img {
            width: calc(var(--my-value-max) * 2);
        }

        div {
            h2 {
                @include mxs.h2();
            }

            p {
                @include mxs.p();
            }
        }
    }

    .headerTopRight {
        @include mxs.rowFlex(center, center);
        background-color: var(--my-color-orange);
        width: clamp(100px, 10vw, 110px);
        height: calc(var(--my-value-max) * 2);
        border-radius: calc(var(--my-value-min) * 8);
        box-shadow: 0px 1px 4px 1px var(--my-color-orange);
        transition:
            background-color 100ms linear,
            scale 100ms linear,
            box-shadow 100ms linear;

        &:hover {
            background-color: var(--my-color-green);
            box-shadow: 0px 1px 4px 1px var(--my-color-green);
        }

        &:active {
            scale: 0.95;
        }

        & > p {
            @include mxs.p(var(--my-color-white));
            padding-right: 7px;
        }

        div {
            @include mxs.rowFlex(center, center, 2px);
            border-left: 2px solid var(--my-color-white);
            padding-left: 5px;

            p {
                @include mxs.p(var(--my-color-white));
            }
        }
    }
}