@use "../../modules/index.scss" as mxs;

.pagination{
    @include mxs.rowFlex(space-between, center);
    background-color: var(--my-color-greyDark);
    color: var(--my-color-white);
    padding: calc(var(--my-value-min) * 4) calc(var(--my-value-mid) * 3);
    border-radius: var(--my-value-max);
    box-shadow: 0px 0px 3px 1px var(--my-color-greyLight);
    width: 30%;

    li{
        @include mxs.rowFlex(center, center);
        width: 21px;
        height: 21px;
        list-style-type: none;
        border-radius: var(--my-value-mid);
        user-select: none;
        cursor: pointer;
        
        a{
            text-align: center;
            text-decoration: none;
            user-select: none;
            font-size: var(--my-font-size-p);

        }
        
    }

    .selected{
        color: var(--my-color-black);
        background-color: var(--my-color-white);
    }
    

    @media only screen and (max-width: 830px) {
        width: 78%;
    }
}