@mixin rowFlex($justify-content: start, $align-items: stretch, $gap: 0px) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
};

@mixin colFlex($justify-content: start, $align-items: stretch, $gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
};

@mixin h1($font-size: var(--my-font-size-h1), $font-weight: 800){
    font-size: $font-size;
    font-weight: $font-weight;
    color: var(--my-color-black);
}

@mixin h2($font-size: var(--my-font-size-h2), $font-weight: 600, $letter-spacing: 1px){
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    color: var(--my-color-black);
}

@mixin h3($font-size: var(--my-font-size-h3), $font-weight: 600, $letter-spacing: 1px){
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    color: var(--my-color-black);
}

@mixin p($color: var(--my-color-greyLight), $font-weight: 400px, $font-size: var(--my-font-size-p)){
    color: $color; 
    font-weight: $font-weight;
    font-size: $font-size;
}