:root {
    // fonts
    --my-font-family: "Roboto", sans-serif;
    --my-font-size-h1: clamp(25px, 3vw, 28px);
    --my-font-size-h2: clamp(23px, 3vw, 26px);
    --my-font-size-h3: clamp(16px, 2vw, 19px);
    --my-font-size-p: clamp(13px, 2vw, 16px);

    // values
    --my-value-min: 2px;
    --my-value-mid: 10px;
    --my-value-max: 20px;

    // colors
    --my-color-white: rgb(255, 255, 255);
    --my-color-whiteDark: rgb(240, 240, 240);
    --my-color-black: rgb(24, 24, 24);
    --my-color-greyDark: rgb(40, 40, 40);
    --my-color-greyLight: rgb(160, 160, 160);
    --my-color-yellow: rgb(255, 223, 140);
    --my-color-orange: rgb(254, 95, 30);
    --my-color-green: rgb(0, 130, 0);
}