 @use "../../modules/index.scss" as mxs;

 .cartItem {
     @include mxs.rowFlex(space-between, center);
     width: 100%;
     border: 2px solid var(--my-color-black);
     border-radius: var(--my-value-max);
     background-color: var(--my-color-white);
     padding: var(--my-value-mid) var(--my-value-max);
    

     p {
         @include mxs.h3(var(--my-color-black));
     }

     button {
         @include mxs.rowFlex(center, center);
         @include mxs.p(var(--my-color-orange), 600);
         width: 30px;
         height: 30px;
         background-color: var(--my-color-white);
         border: 2px solid var(--my-color-orange);
         border-radius: 50%;
         user-select: none;
         cursor: pointer;
         transition: background-color 100ms linear, color 100ms linear;


         &.removeButton {
             color: var(--my-color-black);
             border: 2px solid var(--my-color-black);
             color: var(--my-color-black);
             background-color: var(--my-color-white);
             
             &:hover {
                 color: var(--my-color-white);
                 background-color: var(--my-color-black);
             }

         }

         &.minCount {
             opacity: 0.5;

             &:active {
                 scale: 1;
             }
         }

         &:hover {
             background-color: var(--my-color-orange);
             color: var(--my-color-white);
         }

         &:active {
             scale: 0.95;
         }
     }

     div {
         @include mxs.rowFlex(start, center, 6px);

         &:first-child {
             width: 46%;

             img {
                 width: 50px;
                 height: 50px;
             }

             div {
                 @include mxs.colFlex(center, start);

                 h4 {
                     @include mxs.h2();
                 }

                 p {
                     @include mxs.p();
                 }
             }
         }
     }
 }