@use "../../../modules/index.scss" as mxs;

.categoriesPanel {

    ul {
        @include mxs.rowFlex(space-between, center, 4%);

        li {
            @include mxs.p(var(--my-color-black), 600);
            background-color: var(--my-color-whiteDark);
            border-radius: 12px;
            padding: calc(var(--my-value-min) * 4) calc(var(--my-value-mid) * 3);
            list-style-type: none;
            transition:
                color 100ms linear,
                background-color 100ms linear,
                box-shadow 100ms linear;

            &.active {
                color: var(--my-color-white);
                background-color: var(--my-color-greyDark);
                box-shadow: 0px 1px 4px var(--my-color-greyDark);
            }

            &:hover {
                color: var(--my-color-white);
                background-color: var(--my-color-greyDark);
                box-shadow: 0px 1px 4px var(--my-color-greyDark);
            }

            &:active {
                scale: 0.95;
            }
        }

        @media only screen and (max-width: 830px) {
            @include mxs.colFlex(center, stretch, 10px);
            text-align: center;
        }

    }

    @media only screen and (max-width: 830px) {
        width: 100%;
    }

}