@use "../modules/mixins" as mxs;

section {
    background-color: var(--my-color-white);
    padding-block: var(--my-value-max);
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(220px, 22vw, 260px));
    place-content: space-evenly;

    .pizzaItem {
        background-color: var(--my-color-white);
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: var(--my-value-mid);

        &:first-of-type {
            grid-column: 1/2;
        }

        img {
            width: 100%;
        }

        h4 {
            @include mxs.h2();
            padding-bottom: var(--my-value-mid);
        }

        .selector {
            @include mxs.colFlex(center, space-between, 5px);
            background-color: var(--my-color-whiteDark);
            border-radius: var(--my-value-mid);
            padding: calc(var(--my-value-min) * 3);

            ul {
                @include mxs.rowFlex(space-between, center);

                li {
                    @include mxs.p();
                    list-style-type: none;
                    width: 65px;
                    padding-block: calc(var(--my-value-min) * 2);
                    cursor: pointer;
                    transition:
                        color 200ms linear,
                        background-color 150ms linear,
                        box-shadow 150ms linear,
                        border-radius 150ms linear;

                    &.active {
                        color: var(--my-color-black);
                        background-color: #ffffff;
                        box-shadow: 0px 1px 5px var(--my-color-greyDark);
                        border-radius: calc(var(--my-value-min) * 3);
                    }

                    &:hover {
                        background-color: #ffffff;
                        box-shadow: 0px 1px 5px var(--my-color-greyDark);
                        border-radius: calc(var(--my-value-min) * 3);
                    }

                    &:active {
                        scale: 0.95;
                    }
                }

            }
        }

        .pizzaItemBottom {
            @include mxs.rowFlex(space-between, center);
            padding: 10px 5px;
        }

        .addButton {
            @include mxs.p(var(--my-color-orange), 600);
            border: 3px solid var(--my-color-orange);
            padding: 4px 10px;
            border-radius: 14px;
            user-select: none;
            cursor: pointer;
            transition: background-color 150ms linear, color 150ms linear;

            &:hover {
                background-color: var(--my-color-orange);
                color: var(--my-color-white);
            }

            &:active {
                scale: 0.95;
            }

        }
    }
}