@use "../modules/index.scss" as mxs;

section {
    background-color: var(--my-color-white);
    padding: var(--my-value-max) var(--my-value-max);
    border-bottom-left-radius: var(--my-value-mid);
    border-bottom-right-radius: var(--my-value-mid);

    .sectionTop {
        @include mxs.rowFlex(space-between, center);

        @media only screen and (max-width: 630px) {
            @include mxs.colFlex(center, stretch, 10px);
            text-align: center;
        }
    }

    h1 {
        @include mxs.h1();
        padding-left: var(--my-value-max);
        padding-bottom: var(--my-value-max);

        @media only screen and (max-width: 630px) {
            padding-left: var(--my-value-mid);
            padding-bottom: var(--my-value-mid);
        }
    }

    @media only screen and (max-width: 630px) {
        padding: var(--my-value-min);
        padding-bottom: var(--my-value-min);
    }

}