@use "../modules/index.scss" as mxs;

footer {
    @include mxs.rowFlex(center, center);
    background-color: var(--my-color-white);
    border-bottom-left-radius: var(--my-value-mid);
    border-bottom-right-radius: var(--my-value-mid);
    padding: calc(var(--my-value-max) * 2);

    @media only screen and (max-width: 630px) {
        padding: var(--my-value-mid);
    }
}