@use "../../modules/index.scss" as mxs;

.cart {
    @include mxs.colFlex(start, start, 10px);

    .cartMid,
    .cartBottom {
        @include mxs.rowFlex(space-between, center);
        width: 100%;
        padding: var(--my-value-mid) var(--my-value-max);

        p {
            @include mxs.p(var(--my-color-black));
            padding-block: calc(var(--my-value-min) * 2);
        }

        a {
            text-decoration: none;
        }

        button {
            @include mxs.rowFlex(center, center, 3px);
            padding: 10px 20px;
            border-radius: calc(var(--my-value-min) * 8);
            border: none;
            color: var(--my-color-white);
            background-color: var(--my-color-orange);
            font-size: var(--my-font-size-p);
            transition: background-color 100ms linear, scale 100ms linear;

            &:hover {
                background-color: var(--my-color-green);
            }

            &:active {
                scale: 0.95;
            }
        }
    }
}