@use "../../modules/index.scss" as mxs;

.cart {
    @include mxs.colFlex(center, start, 10px);
    padding: var(--my-value-max);

    .pizzaItem {
        @include mxs.rowFlex(space-between, center);
        width: 100%;
        border-block: 3px solid var(--my-color-whiteDark);
        background-color: var(--my-color-white);
        padding: var(--my-value-min);

        div {
            @include mxs.rowFlex(start, center, 6px);

            &:first-child {
                width: 48%;

                img {
                    width: 50px;
                    height: 50px;
                }

                div {
                    @include mxs.colFlex(center, start);

                    h4 {
                        @include mxs.h2();
                    }

                    p {
                        @include mxs.p();
                    }
                }
            }
        }

        p {
            @include mxs.p(var(--my-color-black));
        }

        button {
            @include mxs.rowFlex(center, center);
            @include mxs.p(var(--my-color-orange), 600);
            width: 30px;
            height: 30px;
            background-color: var(--my-color-white);
            border: 2px solid var(--my-color-orange);
            border-radius: 50%;
            user-select: none;
            cursor: pointer;
            transition: background-color 150ms linear, color 150ms linear;

            &:hover {
                background-color: var(--my-color-orange);
                color: var(--my-color-white);
            }

            &:active {
                scale: 0.95;
            }
        }
    }
}