@use "./components/modules/variables";
@use "./components/modules/mixins" as mxs;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--my-font-family);
}

main {
    @include mxs.colFlex(start, space-between);
    background-color: var(--my-color-yellow);
    width: min(100%, 1220px);
    margin: 0 auto;
    padding: var(--my-value-max);

    @media only screen and (max-width: 630px) {
        padding: var(--my-value-mid);
    }
}